* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

body {
  position: relative;
  background: #f5f9fe;
}

.btn {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 7px;
  background: #0e53a1;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  transform: scale(105%);
}

.header {
  background: #f5f9fe;
  box-shadow: 0 2px 4px #e2ebfc;
  z-index: 69;
  width: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  height: 88px;
  align-items: center;
}
.header .logo {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 700;
  color: #2a73dd;
}
.header .logo:hover {
  color: #2a73dd;
}
.header .right {
  display: flex;
  justify-content: space-between;
}
.header .right .navbar {
  margin-right: 20px;
}
.header .right .navbar a {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1d365e;
  margin: 15px;
  transition: 0.2s;
  position: relative;
  transition: all 0.3s;
}
.header .right .navbar a:hover {
  color: #2a73dd;
}
.header .right .navbar a.active {
  color: #2a73dd;
}

.product {
  padding-top: 3rem;
}
.product .title {
  text-align: center;
}
.product .title .container {
  padding: 30px;
}
.product table,
.product tr,
.product th,
.product td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 20px;
}
.product .table {
  width: 100%;
}
.product .table img {
  width: 80px;
}
.product .table .btn_delete {
  background: rgb(233, 0, 0);
}
.product .table .btn_update {
  background: #60a4f4;
}
.product .table .btn_update,
.product .table .btn_delete {
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
}

#product_id {
  display: none;
}

.update_form .openForm {
  margin-bottom: 10px;
}
.update_form .manage {
  display: none;
  position: fixed;
  z-index: 69;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}
.update_form .manage .form {
  position: relative;
  z-index: 96;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5f9fe;
  border: 1px solid #1d365e;
  border-radius: 10px;
  width: 50%;
  padding: 50px 30px;
}
.update_form .manage .form .form_wrap {
  font-size: 1rem;
  max-width: 70%;
  margin: 0 auto;
}
.update_form .manage .form .form_wrap input,
.update_form .manage .form .form_wrap textarea {
  min-width: 80%;
  padding: 5px 10px;
}
.update_form .manage .form .form_wrap .warn_span {
  color: red;
}
.update_form .manage .form .form_wrap .form_input {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.update_form .manage .form .form_wrap .form_input p {
  font-weight: 600;
}
.update_form .manage .form .form_wrap .closeForm {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgb(141, 0, 0);
  color: rgb(255, 240, 240);
  border: 1px solid transparent;
  padding: 5px 10px;
}
.update_form .manage .form .form_wrap .btn_control {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */